@{
    Layout = null;
}
<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>若水的程序猿生涯 - byruoshui.com</title>
    <meta name="keywords" content="上善若水个人博客" />
    <meta name="description" content="上善若水个人博客" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/base.css" rel="stylesheet">
    <link href="css/m.css" rel="stylesheet">
    <script src="js/jquery-1.8.3.min.js"></script>
    <script src="js/comm.js"></script>
    <script src="js/hc-sticky.js"></script>
    <script src="js/aside-sticky.js"></script>
    <!--[if lt IE 9]>
    <script src="js/modernizr.js"></script>
    <![endif]-->
    <!-- banner-->
    <link rel="stylesheet" href="css/swiper.min.css">
    <script src="js/swiper.min.js"></script>
    <script src="js/banner.js"></script>
</head>
<body>
    <!--top begin-->
    <div class="topbar">
        <ul>
            <li>赛博朋克2077群<img src="images/wxkf.jpg"></li>
            <li>上古卷轴5交流群<img src="images/wxgzh.jpg"></li>
        </ul>
    </div>
    <article>
        <nav>
            <div class="topnav">
                <a href="/" class="logo"><img src="images/logo.png"></a>
                <ul id="starlist">
                    <li><a href="index.html" target="_blank" title="">博客主页</a></li>
                    <li><a href="list.html" target="_blank" title="">技术笔记</a></li>
                    <li><a href="info.html" target="_blank" title="">只言片语</a></li>
                    <li><a href="time.html" target="_blank" title="">游戏人生</a></li>
                    <li><a href="time.html" target="_blank" title="">余生很长</a></li>
                    <li><a href="page.html" target="_blank" title="">不能遗忘</a></li>
                </ul>
            </div>
            <span></span>
        </nav>
        <div class="box_l">
            <!-- banner begin-->
            <div class="banner">
                <div class="swiper-container">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide"><a href="" target="_blank" title="官方推荐"><img src="images/2.jpg" alt="官方推荐"><span>官方推荐</span></a></div>
                        <div class="swiper-slide"><a href="" target="_blank" title="独家"><img src="images/3.jpg" alt="独家"><span>独家</span></a></div>
                    </div>
                    <div class="swiper-pagination"></div>
                    <div class="swiper-button-next"></div>
                    <div class="swiper-button-prev"></div>
                </div>
            </div>
            <!-- banner end-->

            <ul class="news_list">
                <li>
                    <a href="" title="" target="_blank">
                        <i><img src="images/b11.jpg"></i>
                        <h2>永恒的爱情？可是，他们依然保持着恋人的关系。仅仅是保持着。</h2>
                    </a>
                    <p class="news_list_info">这，注定是一场艰难的战“疫”，也是我们所有人共同的战“疫”。每到关键时刻，我们总会听到最大声的召唤，最坚定的回答，最真情的告白，最悠长的回响.我们记录下这场战“疫”中所有充满力量、直击人心的声音，为历史留下特殊的记忆。向发出声音的他们致敬！为武汉加油！</p>
                    <p class="news_list_time"><span><a href="/">栏目名称</a></span><span>时间：2020-02-07</span><span>点击：230</span></p>
                </li>
                <li>
                    <a href="" title="" target="_blank">
                        <i><img src="images/b12.jpg"></i>
                        <h2>真爱在哪里——一个女孩和他的游戏老公的故事</h2>
                    </a>
                    <p class="news_list_info">这，注定是一场艰难的战“疫”，也是我们所有人共同的战“疫”。每到关键时刻，我们总会听到最大声的召唤，最坚定的回答，最真情的告白，最悠长的回响.我们记录下这场战“疫”中所有充满力量、直击人心的声音，为历史留下特殊的记忆。向发出声音的他们致敬！为武汉加油！</p>
                    <p class="news_list_time"><span><a href="/">栏目名称</a></span><span>时间：2020-02-07</span><span>点击：230</span></p>
                </li>
                <li>
                    <a href="" title="" target="_blank">
                        <i><img src="images/b03.jpg"></i>
                        <h2>现在这个现实的社会中，让试婚决定爱情</h2>
                    </a>
                    <p class="news_list_info">这，注定是一场艰难的战“疫”，也是我们所有人共同的战“疫”。每到关键时刻，我们总会听到最大声的召唤，最坚定的回答，最真情的告白，最悠长的回响.我们记录下这场战“疫”中所有充满力量、直击人心的声音，为历史留下特殊的记忆。向发出声音的他们致敬！为武汉加油！</p>
                    <p class="news_list_time"><span><a href="/">栏目名称</a></span><span>时间：2020-02-07</span><span>点击：230</span></p>
                </li>
                <li>
                    <a href="" title="" target="_blank">
                        <i><img src="images/b04.jpg"></i>
                        <h2>十年，他始终奔波着，为熟悉而又陌生的那个人</h2>
                    </a>
                    <p class="news_list_info">这，注定是一场艰难的战“疫”，也是我们所有人共同的战“疫”。每到关键时刻，我们总会听到最大声的召唤，最坚定的回答，最真情的告白，最悠长的回响.我们记录下这场战“疫”中所有充满力量、直击人心的声音，为历史留下特殊的记忆。向发出声音的他们致敬！为武汉加油！</p>
                    <p class="news_list_time"><span><a href="/">栏目名称</a></span><span>时间：2020-02-07</span><span>点击：230</span></p>
                </li>
                <li>
                    <a href="" title="" target="_blank">
                        <i><img src="images/b05.jpg"></i>
                        <h2>有关这个男人的故事，送人玫瑰 手有余香</h2>
                    </a>
                    <p class="news_list_info">这，注定是一场艰难的战“疫”，也是我们所有人共同的战“疫”。每到关键时刻，我们总会听到最大声的召唤，最坚定的回答，最真情的告白，最悠长的回响.我们记录下这场战“疫”中所有充满力量、直击人心的声音，为历史留下特殊的记忆。向发出声音的他们致敬！为武汉加油！</p>
                    <p class="news_list_time"><span><a href="/">栏目名称</a></span><span>时间：2020-02-07</span><span>点击：230</span></p>
                </li>
                <li>
                    <a href="" title="" target="_blank">
                        <i><img src="images/b06.jpg"></i>
                        <h2>有多少浪漫赢不回来，情人节的幸福(视频)</h2>
                    </a>
                    <p class="news_list_info">这，注定是一场艰难的战“疫”，也是我们所有人共同的战“疫”。每到关键时刻，我们总会听到最大声的召唤，最坚定的回答，最真情的告白，最悠长的回响.我们记录下这场战“疫”中所有充满力量、直击人心的声音，为历史留下特殊的记忆。向发出声音的他们致敬！为武汉加油！</p>
                    <p class="news_list_time"><span><a href="/">栏目名称</a></span><span>时间：2020-02-07</span><span>点击：230</span></p>
                </li>
                <li>
                    <a href="" title="" target="_blank">
                        <i><img src="images/b07.jpg"></i>
                        <h2>没有上锁的门， 家人的爱是希望的摇篮</h2>
                    </a>
                    <p class="news_list_info">这，注定是一场艰难的战“疫”，也是我们所有人共同的战“疫”。每到关键时刻，我们总会听到最大声的召唤，最坚定的回答，最真情的告白，最悠长的回响.我们记录下这场战“疫”中所有充满力量、直击人心的声音，为历史留下特殊的记忆。向发出声音的他们致敬！为武汉加油！</p>
                    <p class="news_list_time"><span><a href="/">栏目名称</a></span><span>时间：2020-02-07</span><span>点击：230</span></p>
                </li>
                <li>
                    <a href="" title="" target="_blank">
                        <i><img src="images/b08.jpg"></i>
                        <h2>因为世间，有一种爱，是再也不会重来！</h2>
                    </a>
                    <p class="news_list_info">这，注定是一场艰难的战“疫”，也是我们所有人共同的战“疫”。每到关键时刻，我们总会听到最大声的召唤，最坚定的回答，最真情的告白，最悠长的回响.我们记录下这场战“疫”中所有充满力量、直击人心的声音，为历史留下特殊的记忆。向发出声音的他们致敬！为武汉加油！</p>
                    <p class="news_list_time"><span><a href="/">栏目名称</a></span><span>时间：2020-02-07</span><span>点击：230</span></p>
                </li>
                <li>
                    <a href="" title="" target="_blank">
                        <i><img src="images/b09.jpg"></i>
                        <h2>感悟亲情，最美味的泡面</h2>
                    </a>
                    <p class="news_list_info">这，注定是一场艰难的战“疫”，也是我们所有人共同的战“疫”。每到关键时刻，我们总会听到最大声的召唤，最坚定的回答，最真情的告白，最悠长的回响.我们记录下这场战“疫”中所有充满力量、直击人心的声音，为历史留下特殊的记忆。向发出声音的他们致敬！为武汉加油！</p>
                    <p class="news_list_time"><span><a href="/">栏目名称</a></span><span>时间：2020-02-07</span><span>点击：230</span></p>
                </li>
                <li>
                    <a href="" title="" target="_blank">
                        <i><img src="images/b10.jpg"></i>
                        <h2>友谊的双桨需要我们和谐的摇荡</h2>
                    </a>
                    <p class="news_list_info">这，注定是一场艰难的战“疫”，也是我们所有人共同的战“疫”。每到关键时刻，我们总会听到最大声的召唤，最坚定的回答，最真情的告白，最悠长的回响.我们记录下这场战“疫”中所有充满力量、直击人心的声音，为历史留下特殊的记忆。向发出声音的他们致敬！为武汉加油！</p>
                    <p class="news_list_time"><span><a href="/">栏目名称</a></span><span>时间：2020-02-07</span><span>点击：230</span></p>
                </li>
                <li>
                    <a href="" title="" target="_blank">
                        <i><img src="images/b02.jpg"></i>
                        <h2>朋友，需用心去经营，需有一定的艺术性。</h2>
                    </a>
                    <p class="news_list_info">这，注定是一场艰难的战“疫”，也是我们所有人共同的战“疫”。每到关键时刻，我们总会听到最大声的召唤，最坚定的回答，最真情的告白，最悠长的回响.我们记录下这场战“疫”中所有充满力量、直击人心的声音，为历史留下特殊的记忆。向发出声音的他们致敬！为武汉加油！</p>
                    <p class="news_list_time"><span><a href="/">栏目名称</a></span><span>时间：2020-02-07</span><span>点击：230</span></p>
                </li>
                <li>
                    <a href="" title="" target="_blank">
                        <i><img src="images/b01.jpg"></i>
                        <h2>那个愿意陪你坐一坐的人，才是你真正的朋友。</h2>
                    </a>
                    <p class="news_list_info">这，注定是一场艰难的战“疫”，也是我们所有人共同的战“疫”。每到关键时刻，我们总会听到最大声的召唤，最坚定的回答，最真情的告白，最悠长的回响.我们记录下这场战“疫”中所有充满力量、直击人心的声音，为历史留下特殊的记忆。向发出声音的他们致敬！为武汉加油！</p>
                    <p class="news_list_time"><span><a href="/">栏目名称</a></span><span>时间：2020-02-07</span><span>点击：230</span></p>
                </li>
            </ul>
        </div>
        <aside class="box_r">
            <div class="search">
                <form action="/e/search/index.php" method="post" name="searchform" id="searchform">
                    <input name="keyboard" id="keyboard" class="input_text" value="请输入关键字词" style="color: rgb(153, 153, 153);" onfocus="if(value=='请输入关键字词'){this.style.color='#000';value=''}" onblur="if(value==''){this.style.color='#999';value='请输入关键字词'}" type="text">
                    <input name="show" value="title" type="hidden">
                    <input name="tempid" value="1" type="hidden">
                    <input name="tbname" value="news" type="hidden">
                    <input name="Submit" class="input_submit" value="搜索" type="submit">
                </form>
            </div>
            <section>
                <h2>站长推荐</h2>
                <ul class="news_part03">
                    <li>
                        <a href="" title="T" target="_blank">
                            <i><img src="images/b01.jpg" alt=""></i>
                            <p>甘于平庸，那就做一只跳出温水的青蛙</p>
                        </a>
                    </li>
                    <li>
                        <a href="" title="T" target="_blank">
                            <i><img src="images/b02.jpg" alt=""></i>
                            <p>我们等的不是什么人，不是什么事，而我们等的是时间</p>
                        </a>
                    </li>
                    <li>
                        <a href="" title="T" target="_blank">
                            <i><img src="images/b03.jpg" alt=""></i>
                            <p>对有些事，需要睁一只眼闭一只眼，这是智慧</p>
                        </a>
                    </li>
                    <li>
                        <a href="" title="T" target="_blank">
                            <i><img src="images/b04.jpg" alt=""></i>
                            <p>[经典情感文章] 缘起则聚，缘灭则散</p>
                        </a>
                    </li>
                </ul>
            </section>
            <section>
                <h2>热门新闻</h2>
                <ul class="news_part06">
                    <li><a href="/" target="_blank" title="">儿童睡眠不能少于7小时，否则易引发行为问题、认知和心理问题！复旦大学冯建峰课题组最新发现</a></li>
                    <li><a href="/" target="_blank" title="">河南郑州首位的哥确诊 寻找豫ATV968近期乘客</a></li>
                    <li><a href="/" target="_blank" title="">新加坡一条暗藏春色的按摩街 虽多次被居民申诉 但仍在营业</a></li>
                    <li><a href="/" target="_blank" title="">夫妻宅在老家太闷自制铁圈玩游戏，结果丈夫中奖，奖一个月家务活</a></li>
                    <li><a href="/" target="_blank" title="">护航！英雄机长送四川医疗队赴汉</a></li>
                    <li><a href="/" target="_blank" title="">黑龙江老汤带好哥们四处花钱，落网时，家里还有“好几十万”</a></li>
                    <li><a href="/" target="_blank" title="">智障男遭火车碾毙 老父认尸办葬礼时“亡儿”现身</a></li>
                    <li><a href="/" target="_blank" title="">黑龙江老汤带好哥们四处花钱，落网时，家里还有“好几十万”</a></li>
                    <li><a href="/" target="_blank" title="">网购100万元口罩收不到货反遭拉黑，小心紧俏品后暗藏诈骗</a></li>
                    <li><a href="/" target="_blank" title="">夫妻宅在老家太闷自制铁圈玩游戏，结果丈夫中奖，奖一个月家务活</a></li>
                </ul>
            </section>
            <section>
                <h2>猜你喜欢</h2>
                <ul class="news_part05">
                    <li>
                        <a href="" title="" target="_blank">
                            <i><img src="images/part501.jpg" alt=""></i>
                            <p>第一现场：上海一阿姨手戴9枚戒指卡住7个消防员奋战2小时“解救”</p>
                        </a>
                    </li>
                    <li>
                        <a href="" title="" target="_blank">
                            <i><img src="images/part502.jpg" alt=""></i>
                            <p>湖北蕲春：关注南方汛情——暴雨致河水突涨 消防..</p>
                        </a>
                    </li>
                    <li>
                        <a href="" title="" target="_blank">
                            <i><img src="images/part503.jpg" alt=""></i>
                            <p>广西融水：强降雨致多地发生洪涝灾害——洪峰昨..</p>
                        </a>
                    </li>
                    <li>
                        <a href="" title="" target="_blank">
                            <i><img src="images/part504.jpg" alt=""></i>
                            <p>江西：强降雨致多地发生洪涝灾害——河床升高2米..</p>
                        </a>
                    </li>
                    <li>
                        <a href="" title="" target="_blank">
                            <i><img src="images/part505.jpg" alt=""></i>
                            <p>超暖心！看老师给学生的新年祝福｜这就是老师</p>
                        </a>
                    </li>
                    <li>
                        <a href="" title="" target="_blank">
                            <i><img src="images/part506.jpg" alt=""></i>
                            <p>第一现场：上海一阿姨手戴9枚戒指卡住7个消防员奋战2小时“解救”</p>
                        </a>
                    </li>
                </ul>
            </section>
            <section>
                <h2>友情链接</h2>
                <ul class="links">
                    <li><a href="https://www.yangqq.com/" target="_blank">杨青青个人博客</a></li>
                    <li><a href="https://tenpaper.github.io/" target="_blank">tenpaper</a></li>
                </ul>
            </section>
            <section>
                <ul class="copyright">
                    <p>© 2020 byruoshui.com</p>
                    <p>版权所有：<a href="http://www.byruoshui.com/" target="_blank">上善若水个人博客</a> </p>
                    <p>备案号：<a href="http://www.beian.miit.gov.cn/" target="_blank">苏ICP备20039448号</a></p>
                </ul>
            </section>
        </aside>
    </article>
    <a href="#" title="返回顶部" class="icon-top"></a>
</body>
</html>
